@import "../index.scss";

.stays-container {
  margin-top: 60px;
  &__heading {
    font-size: 24px;
    font-weight: 700;
    @include breakpoint(850px) {
      font-size: 18px;
    }
  }
  &__count {
    font-size: 14px;
    color: #4f4f4f;
  }
}

.stays-header {
  display: flex;
  justify-content: space-between;
}

.stays {
  display: flex;
  justify-content: space-between;

  margin: 30px 0;
  flex-wrap: wrap;
  @include breakpoint(550px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.stay {
  width: 395px;
  transition: all 0.2s ease-out;
  border-radius: 24px;
  margin: 20px 0;
  border-radius: 24px;
  overflow: hidden;
  @include breakpoint(850px) {
    width: 250px;
  }
  @include breakpoint(550px) {
    width: 100%;
  }

  cursor: pointer;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    transform: translateY(-5px);
  }
  &__image {
    width: 100%;
    height: 269px;

    @include breakpoint(850px) {
      height: 150px;
    }
    @include breakpoint(550px) {
      height: 269px;
    }
    object-fit: cover;
  }
  &__details {
    margin: 15px 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    &--type {
      color: #828282;
    }
    &--ratings {
      display: flex;
      align-items: center;
      svg {
        color: #eb5757;
      }
    }
  }
  &__title {
    font-size: 16px;
    font-weight: 600;
    margin: 12px 10px;
    margin-bottom: 35px;
  }
}
