.footer {
  font-size: 14px;
  text-align: center;
  &__link {
    font-weight: 700;
    color: #828282;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: #eb5757;
    }
  }
}
